.citation{
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    color: $color-primary;
    
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 70vh;
        background-color:white;

        p{
            width: 60vw;
            font-size: 2.5em;
            text-align: center;
            line-height: 1em;
            font-family: $font-secondary;
            letter-spacing: 0.07em;
            transform: scale(1);
            transition: transform 600ms ease-in-out;
            &:hover{transform: scale(1.2);}
        }
    }
}

.accueil{
    &__concept{
        display: flex;
        @include textMarge;
        margin-top: 25vh;
        margin-right: 0;
        @include tablet{
            flex-direction: column;
        }
        @include mobile{
            flex-direction: column;
        }
        &__left{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10vh 10vw 10vh 0;

            &__reflexologie{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 0 25vh;
                position: relative;

                .btn{
                    position: absolute;
                    bottom: 5vh;
                }
            }
            .tarifs{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10vh 0 0;

                div{
                    display: flex;
                    margin: 0 0 2vh;
                }
            }
        }
        &__figure{
            width: 280vw;
            img{width: 100%;}
        }
    }
}