.btn{
    display: block;
    background-color: $color-accent;
    border-radius: 0.5vw;
    width: 18vw;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    &:hover{
        border: 2px solid $color-accent;
        background: none;
        transform: scale(1.1);
    }
}