header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-tertiary;
    padding: 0 3vw;
    @include tablet{
        flex-direction: column;
    }
    @include mobile{
        flex-direction: column;
        nav ul{
            flex-direction: column;
            align-items: center;
        }
    }

    h1, img{
        height: 12vh;
    }
    nav ul{
        display: flex;

        li{
            margin: 10px 15px;
            
            a:hover{
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}